<!DOCTYPE html>
<html>
  <head>
    <title>Spottr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
      <div class="button_map">
        <center>
        <button id="button-track-me" class='btn btn-primary btn-lg'>Track Me</button>
        <button id="button-dont-track" class='btn btn-primary btn-lg'>Stop Tracking Me</button>
        <button id="button-mark-spot" class='btn btn-primary btn-lg'>Mark Spot</button>
        <%= link_to "Back", user_path(:user), class:'btn btn-primary btn-lg' %>
      </center>
      </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf_hNLTtGr7CruubLRsAL3ygms8LqKL-I&callback=initMap"
    async defer></script>
  </body>
</html>
