// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-body {
  background-image: url(https://www.codeproject.com/KB/dialog/wpf_animated_text_splash/intial.jpg);
  background-repeat: no-repeat;
}
.form :focus{

}
.card {
  font-family: Questrial;
  margin-top: 10%;
}

.Sign_up_button {
  padding-top: 1%;
}
.sign_up_page {
  background-image: url(http://zyzixun.net/data/out/59/3290498-fade-wallpapers.jpeg);
  background-repeat: no-repeat;
}
#user_background {
  background-image: url(http://zyzixun.net/data/out/59/3290498-fade-wallpapers.jpeg);
  background-repeat: no-repeat;
}
.jumbotron {
  margin-top: 10%;
  background-image: url(http://cdn.thinglink.me/api/image/756169816745705474/1024/10/scaletowidth/0/0/1/1/false/true?wait=true);
  background-repeat: no-repeat;
}
.user_name {
font-family: Questrial;
}
